<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-segment value="listaUser">
    <ion-segment-button (click)="listaProductsTrue()" value="listaUser">
      <ion-label>Lista de Produtos</ion-label>
    </ion-segment-button>

    <ion-segment-button (click)="addNewProductsTrue()" value="addCliente">
      <ion-label>Adicionar Produtos</ion-label>
    </ion-segment-button>
  </ion-segment>


  <div *ngIf="listProducts === true">
    <ion-card *ngFor="let produto of listaProdutos">
      <ion-item lines="none">
        <ion-button [routerLink]="['/alterar-produtos', produto.id]" slot="start">
          <ion-icon name="create-outline">
          </ion-icon>
        </ion-button>

        <ion-card-title class="ion-text-center">{{produto.nome}}</ion-card-title>

        <ion-button (click)='AlertExcluirProduto(produto.id!)' slot="end">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>

      </ion-item>

      <img src="{{produto.nome_imagem}}" alt="{{produto.nome}}" />
      <ion-card-header>
        <ion-item lines="none">
          <ion-badge slot="end">{{produto.preco}}</ion-badge>
        </ion-item>
      </ion-card-header>


      <ion-card-content>
        {{produto.descricao}}
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="addProducts === true">
    <ion-list>
      <ion-item>
        <ion-input label="Nome Produto" type="text" labelPlacement="floating" placeholder="Nome" [(ngModel)]="nome">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Descrição do produto" type="text" labelPlacement="floating" placeholder="Descrição do produto"
          [(ngModel)]="descricao"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Url da Imagem" type="text" labelPlacement="floating" placeholder="Url da Imagem"
          [(ngModel)]="nome_imagem"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Preco do Produto" type="number" labelPlacement="floating" placeholder="Preço do produto"
          [(ngModel)]="preco"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button (click)="salvarProduto()" class="ion-padding" expand="block" color="dark">Salvar</ion-button>

  </div>
</ion-content>