<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button slot="start"></ion-back-button>
      <ion-title>Bem Vindo!!!</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item>
      <ion-input label="Nome Completo"  type="text" labelPlacement="floating" placeholder="Nome" [(ngModel)]="nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Email" type="email" labelPlacement="floating" placeholder="Email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Senha" type="password" labelPlacement="floating" placeholder="Senha" [(ngModel)]="senha"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Confirmar Senha" type="password" labelPlacement="floating" placeholder="Confirmar Senha" [(ngModel)]="confirmarSenha"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button (click)="salvar()" class="ion-padding" expand="block" color="dark">Salvar</ion-button>
</ion-content>
